<div class="container" id="contact">
    <div class="row">
        <div class="col-md-8">
            <section>
                {{ .Content }}

                <div class="heading">
                  <h3>Products</h3>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{ range .Site.Data.products }}
                            {{ partial "product.html" . }}
                        {{ end }}
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section>
                <div class="snipcart-summary"></div>
                <p><button class="snipcart-customer-signin">My account</button></p>
                <p><a href="#" class="snipcart-user-profile">My Profile</a></p>
                <p><a href="#" class="snipcart-edit-profile">Edit profile</a></p>
                <p><a href="#" class="snipcart-user-logout">Logout</a></p>
            </section>
        </div>
    </div>
</div>
