/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 130px;
}

/* table */

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 991px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

.photostrip {
  display: flex;
  flex-direction: row;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.photostrip > .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 10px;
}

.photostrip > .photo > .thumb {
  display: flex;
  max-height: 100px;
  width: auto;
}

.photostrip > .photo > .label {
  display: flex;
  padding: 10px;
  color: #000000;
}