<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-6 right">
                            <h1>Family Owned and Operated</h1>
                            <p>Ben E. Neville Trucking Service, Inc. was established as a small,
                                family operated business over 55 years ago by Ben and Theresa Neville when they
                                began providing trash service for friends and neighbors in their hometown of Minier,
                                IL.</p>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive" src="img/carousel/20yd-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
