{{ if isset .Site.Params "services" }}
{{ if .Site.Params.services.enable }}
{{ if gt (len .Site.Data.services) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.services "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
        {{ end }}
                <div class="col-md-4">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a class="desktop-only" href="{{ $element.url }}">
                        {{ end }}
                            <div class="icon">
                                <i class="{{ .icon }}"></i>
                            </div>
                        {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                        <a class="mobile-only" href="{{ $element.url }}">
                          <p class="mobile-only" style="color: #6aae7a; font-weight:bold; font-size:larger;">{{ $element.button | markdownify }} <img src="img/chevron.png"></p>
                        </a>
                    </div>
                </div>
        {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.services) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}

        {{ range $index, $element := sort .Site.Data.services "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="row desktop-only">
        {{ end }}
            <div class="col-md-4 desktop-only" style="text-align: center;">
                <a class="desktop-only" href="{{ $element.url }}">
                    <p class="desktop-only" style="color: #6aae7a; font-weight:bold; font-size:larger;">{{ $element.button | markdownify }} <img src="img/chevron.png"></p>
                </a>
            </div>
        {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.services) 1 )) }}
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
